[2018-06-14 05:24] davisjam opened #2 "Link to associated publication(s)?"
Helpful to put these in a README. If not, you should indicate how the tool should be cited.

[2018-06-14 06:53] Haiyang-Sun commented on #2
Thanks for the suggestion. I've added the link to our paper in the README file.

[2018-06-14 06:53] #2 closed

[2018-08-10 15:41] dizhong opened #8 "mx build failed on ubuntu 18.04? openjdk version 1.8.0"
Hi,

Part of the build seem to be failing on my machine with errors about files not existing, and/or some java errors.

Screenshot of the error:
![image](https://user-images.githubusercontent.com/13694002/43966909-1ea283a8-9c91-11e8-864f-7ce270f63aa9.png)

Previously it was failing on creating a folder called src. I looked at the address the error was referring to, and noticed a file called "src"

[2018-08-10 19:06] Haiyang-Sun commented on #8
Hello,
Have you run ``` mx sforceimports ``` before running ```mx build```?

[2018-08-10 20:19] dizhong commented on #8
Hi,
Yes, I have.

[2018-08-10 20:47] Haiyang-Sun commented on #8
These bugs are related to the building of Graal.js, and it requires the following prerequisites (as shown in their guide: https://github.com/graalvm/graaljs/blob/master/graal-nodejs/BUILDING.md)
    gcc and g++ 4.9.4 or newer, or
    clang and clang++ 3.4.2 or newer (macOS: latest Xcode Command Line Tools)
    Python 2.6 or 2.7
    GNU Make 3.81 or newer

From the log, I guess it might be related

[2018-08-10 20:52] Haiyang-Sun commented on #8
remember to do ```mx clean``` if you want to start a clean building from scratch.

[2018-08-13 14:17] dizhong commented on #8
Thank you! It turned out that I didn't have clang installed. After installing clang and downloading a fresh copy of nodeprof, I was able to build and test it. :)

[2018-08-13 14:17] #8 closed

[2018-12-10 15:12] LucaFranceschini commented on #8
I also faced issues similar to the OP. I had all those prerequisites, Python 2 and JDK 8. Still, the only way to make it work was to use that JDK. Maybe it is worth documenting it somewhere (readme?), since the resulting errors are not clear at all, and I only found the right suggestion in this closed issue.

[2018-12-10 17:02] Haiyang-Sun commented on #8
I'm going to update the readme file about this.

[2018-12-18 10:26] LucaFranceschini opened #12 "Unexpected recursion when using JS analysis"
I am trying to track down builtin function invocations with NodeProf. I am running NodeProf directly on GraalVM.

Consider the following program opening a file and then closing it:

[code]

And the following simple analysis printing `builtinEnter` events (written starting from one of the examples):

[code]

The file program works fine when executed with node, but if I execute it as suggested in th

[2018-12-18 12:13] alexjordan commented on #12
Hi Luca,

I can't exactly what triggers the recursion, but the builtin callbacks are tricky to work with. As a workaround, avoid using `console.log` inside `builtinEnter`/`Exit`, e.g. just defer your logging:
[code]

[2018-12-18 16:01] LucaFranceschini commented on #12
Thanks both of you for your prompt replies and patch!

[2018-12-19 06:43] #12 closed

[2018-12-21 09:41] LucaFranceschini opened #14 "Jalangi analysis CLI arguments"
Jalangi supports CLI arguments that end up in `J$.initParams`. Does NodeProf support anything similar? It would be useful for instance to tell the analysis where to log events.

I didn't dig too much into the code here, maybe it should be in [`loadAnalysis`](https://github.com/Haiyang-Sun/nodeprof.js/blob/master/src/ch.usi.inf.nodeprof/js/jalangi.js)?

[2018-12-21 10:01] Haiyang-Sun commented on #14
Not yet, it should be something you can implement yourself, or you can simply log with an analysis-specific header to grep with.

[2018-12-21 10:51] Haiyang-Sun commented on #14
Ok. Then it should be loadAnalysis as you found out. Currently, it only processes ```--analysis jalangiAnalysis```. We can add one more option, e.g., "--analysisOpts XXXX" (where XXXX can be a string separated by some delimiter) and then store the extra arguments in J$.initParams as Jalangi does.
I can work on this when I will have time, or if you have some patch already, feel free to start a PR.

[2018-12-21 11:16] LucaFranceschini commented on #14
That's fine. If I understand correctly, that would pass the same list of arguments to every analysis, correct? `J$` seems global so if I set `J$.initParams` in `loadAnalysis` arguments are the same for every analysis.

[2018-12-29 16:49] LucaFranceschini opened #16 "Enter-exit analysis"
When I instrument an empty JavaScript file (for instance with [this sample analysis](https://github.com/Haiyang-Sun/nodeprof.js/blob/master/src/ch.usi.inf.nodeprof/js/analysis/enter-exit/analysis.js)) there are still two function invocations observed, what are they? Names are not helpful (empty string).

P.S.: in the sample enter-exit analysis all the callbacks use `arguments.length`, though this

[2019-01-08 09:14] Haiyang-Sun commented on #16
1. every JavaScript file will be wrapped into a special function to be loaded by the engine, and the observed function calls are for this case. You can simply ignore them from your analysis. You might also use them to detect loading a JavaScript file.

2. the arguments usage here is to verify the number of arguments passed to the analysis callback. If a function exits without an exception, we will

[2019-01-08 09:19] LucaFranceschini commented on #16
I see, thanks for the information!

[2019-01-08 09:19] #16 closed

[2019-01-08 09:23] Haiyang-Sun opened #17 "Current functionExit can't distinguish between a normal functionExit and a function exit with "undefined" exception"
Regarding ```this.functionExit(iid, returnVal, exceptionVal)```:

Currently, NodeProf passes exception thrown in a function as it is to the callback.
In this case, a function throws an ```undefined``` value would have the same event as a function exits normally and returns ```undefined```

To fix this, we need to wrap the exceptionVal into an object as Jalangi does.

[2019-01-08 09:39] eleinadani commented on #17
perhaps you can consider using the `onReturnExceptional` instrumentation trap in Graal.js to track exceptions?

[2019-01-08 09:49] Haiyang-Sun commented on #17
@eleinadani it's not about this. We have used this trop already to generate the exception event. It's just about a flaw in NodeProf's current callback design for ```functionExit```.

Currently, the following two cases will have the same events:
[code]

[code]

And this is just because NodeProf pass directly the exception caught to the callback. We can fix this by wrapping the exception thrown into

[2019-01-08 09:52] Haiyang-Sun commented on #17
This issue is used to remember the problem, and I will fix it once I have some time.

[2019-01-08 09:58] eleinadani commented on #17
OK, thanks for explaining. In this case:
[code]
you would still detect the exception event that you would not see with the normal `return`, right?

[2019-01-08 10:03] Haiyang-Sun commented on #17
Yes, we can detect that.

[2019-01-09 00:54] alexjordan commented on #17
Good point. I totally overlooked that the API differs from the original Jalangi here. So I guess the plan would be, to solve it in the same way:
[code]
where `wrappedExceptionVal` is `undefined` if there was no exception and otherwise it's an object like this: `{ exception: <theExceptionValue> }`.

[2019-02-22 18:28] aralisza opened #23 "Investigate selectively track taint only on strings"

[2019-02-22 18:29] aralisza opened #24 "Investigate Nodeprof <> Jalangi shadow id"

[2019-02-22 18:31] #24 closed

[2019-02-22 18:31] aralisza commented on #24
Whoops sorry wrong project

[2019-02-22 18:33] #23 closed

[2019-03-11 07:27] aralisza opened #26 "Unsupported Jalangi features"
Hello,

My team is using nodeprof and we are interested in the `declare` and `endExpresion` callbacks that Jalangi has. Is this something that's in the works? If so, is there an estimated time for completion? If not, how difficult would you estimate it to be to implement?

Thanks in advance!

[2019-03-11 20:46] Haiyang-Sun commented on #26
Hi,

You can find the support for ```endExpression```  here: #27 , feel free to try it and give feedbacks.

To support ```declare```, some patch for instrumentation is needed at Graal.js side.  I'm a bit busy recently, but I can try to work on such a patch later this week. After it's integrated into Graal.js, I will release it here.

[2019-03-14 13:07] cristianstaicu opened #28 "Distinguish between pre and post-increment operators"
Hey,

When encountering a self-increment operator like ```x++```, NodeProf translates it into five callbacks/hook invocations: ```read```, ```literal```, ```binaryPre```, ```binary```, ```write```. Is that intended? Jalangi invokes additional hooks: ```unaryPres``` and ```unary``` and sometimes even additional ```binary``` ones.

Moreover, there is no way to distinguish between ```x++``` and ```++

[2019-03-19 07:22] Haiyang-Sun commented on #28
We didn't have a use case that needs to distinguish ```x++``` or ```++x```. One possible solution is to add some additional information in the binary callback to distinguish them. We would not necessarily provide exactly the same events as Jalangi if we can capture the same thing with fewer events.

[2019-04-07 00:28] aralisza commented on #26
Are there any updates about `declare` support?

[2019-04-07 00:41] aralisza opened #31 "for in/of support"
My team is interested in instrumenting `for...in` and `for...of` loops? There was a `forinObject` callback in jalangi, but no callback for `for...of` loops since they weren't supported. Ideally, for our use case, we'd have an object read/write callback for every step of any loop, but having a `forinObject` and `forofObject` would be sufficient.

Are there any plans to support these types of for lo

[2019-05-21 12:36] mtorp opened #32 "Upgrade to Graal VM 19"
Any chance that nodeprof.js can be updated to work with Graal19?
There are issues with regular expressions in the currently used version of Graal.

[2019-05-21 23:19] alexjordan commented on #32
Hi Martin! We are aware that NodeProf currently does not work with the latest version of GraalVM, but we are working on it.

[2019-05-22 08:25] Haiyang-Sun commented on #32
Hi Martin, to better solve the problem you met, could you please show some code snippet to reproduce the bug?

[2019-05-22 14:02] mtorp commented on #32
Certainly, but I believe the issue is related to Graal and not Node.js (See [https://github.com/graalvm/graaljs/issues/145](https://github.com/graalvm/graaljs/issues/145)).

If you want to see it reproduced with nodeprof, try to clone [https://github.com/jaredpalmer/formik](https://github.com/jaredpalmer/formik), install it, and run `mx -p $NODE_PROF_LOCATION jalangi --analysis ${ANALYSIS_LOC} npm

[2019-06-11 07:51] mtorp commented on #32
Thanks for updating to the newest version of Graal.
The jest framework now runs flawlessly :)

[2019-06-11 07:51] #32 closed

[2019-06-26 08:40] mtorp opened #34 "Missing hook for read of 'this'."
In Jalangi the read of `this` triggers the read hook. It seems like no hook is triggered in nodeprof. Are there any plans on adding this feature to nodeprof as well?

[2019-06-28 09:43] barslev opened #35 "Unexpected value for 'dis' in functionEnter hook"
I have created a small JavaScript program and a Jalangi analysis, which shows a case where the `functionEnter` hook is triggered with an unexpected value for `dis`.

[code]
The JavaScript program simply calls `f` and writes the return value to `y`. It is expected that `this` in `f` should be the global object. Below is the Jalangi analysis that shows the unexpected behavior:

[code]
Running NodePr

[2019-06-28 10:16] Haiyang-Sun commented on #34
@mtorp thanks for the feedback. The bug needs some Graal.js update. Please track this PR #36 and I will merge it when necessary changes are updated. For the moment, the patch below in Graal.js could fix the problem
[code]

@eleinadani  ```this``` variable is currently checked as an internal variable in Graal.js while it shouldn't. It's different from other internal variables and shouldn't be hidde

[2019-06-28 12:03] eleinadani commented on #34
I agree this sounds like a Graal.js issue. @Haiyang-Sun your patch above is wrong: the `<this>` variable is  internal: we use a frame slot to store a reference to `this`, but it should _not_ be exposed. I think we can fix this issue in a different way: do you have a small unit test to reproduce?

[2019-06-28 12:43] Haiyang-Sun commented on #35
@barslev , thanks, l will look into this issue.

[2019-06-28 12:56] Haiyang-Sun commented on #34
[code]

[2019-07-02 10:52] Haiyang-Sun commented on #26
The declare hook is now supported with the recent update https://github.com/Haiyang-Sun/nodeprof.js/commit/ccff3cafe350cba49af91a88bfa38b564a4e6aef
A basic ```endExpression``` hook has also been supported as discussed in #27

[2019-07-02 10:52] #26 closed

[2019-07-02 21:11] mwaldrich opened #37 "return/throw callback support"
Is there an ETA for implementation of these callbacks? My team would like to use these in our analysis.

[2019-07-09 19:35] mwaldrich commented on #31
Is there any update on this feature request? My team is hoping to use this feature soon.

[2019-07-12 10:30] barslev opened #38 "Unexpected value for 'base' in invokeFunPre hook"
I have created a test program and a jalangi analysis which shows an unexpected value for the argument 'base' in the invokeFunPre hook.

[code]

[code]
Running NodeProf with the above program and analysis, we get the following output:
[code]
where I would expect, the base object to be the function String.

[2019-07-16 10:21] mtorp opened #39 "Propagate signals to analysis"
Would it be possible to propagate signals sent to the running NodeProf/Graal to the NodeProf analysis.

For example, I would like to have the `endExecution` hook fire whenever I press ctrl-C.
[code]

[2019-07-16 12:51] alexjordan commented on #39
That handler should already be in place if you use `jalangi.js`.

https://github.com/Haiyang-Sun/nodeprof.js/blob/master/src/ch.usi.inf.nodeprof/js/jalangi.js#L187:
[code]

[2019-07-18 07:06] alexjordan commented on #38
This seems to be by-design at the moment. I'll check if we run into any issues in our extended tests when we always pass the receiver object. If not, it's a simple fix.

[2019-07-18 09:32] mtorp commented on #39
Thanks. The 'exit' handler does seem to work, but the analysis responds quite slowly to interrupts. In our case it takes almost 30 seconds before the handler is executed.

[2019-07-18 09:32] #39 closed

[2019-07-19 03:49] alexjordan commented on #38
Sorry, spoke to soon (mentioning a _simple fix_ should have given it away)! I rather seems that NodeProf has exhibits a subtle difference when it comes to the `base` paramater of `invokeFunPre` that is probably not communicated well enough.

Jalangi, sees the call `new String.constructor()` as a constructor call *and* a method call. That does not make a lot of sense IMO, because for a constructor

[2019-07-19 04:54] alexjordan commented on #31
Sorry for the late reply! We are currently scoping how to provide the basic `forinObject` and `forofObject` callbacks in NodeProf.

[2019-07-23 15:23] mwaldrich opened #40 "Callbacks for async/await"
Would it be possible to implement new callbacks to instrument `async` and `await`?

For `async`, perhaps an argument could be added to the *function call* and *function literal* callbacks to indicate if it is an `async` function.

For `await`, I would suggest:
- adding an `isAwaited` argument to the *function call* callbacks, indicating that the caller is awaiting this function's result.
- a new `

[2019-07-24 13:54] Haiyang-Sun commented on #40
@mwaldrich Hi, thanks for the suggestion here.

For ```await```, I don't think it is a good idea to bind it with a function call. ```await``` can be used on any value or promise, and await on an asynchronous function is actually await the internal promise returned by the async function (an async function always return a promise object, even though the function itself may return some non-promise va

[2019-07-28 12:31] alexjordan commented on #35
We are waiting for a Graal.js change to be merged in order to fix this.

[2019-07-29 00:54] alexjordan commented on #34
Fixed in #36

[2019-07-29 00:54] #34 closed

[2019-07-30 20:38] mwaldrich commented on #40
Sounds great! This should be enough to perform general instrumentation on async/await in JS.

How much work will it be to clean up the hacky implementation and get it merged into Graal?

[2019-08-12 18:03] mwaldrich commented on #37
I think it's also important to note that functionExit/invokeFun aren't sufficient for knowing what line of code returns. This is because try/finally blocks can execute code *after* an expression is returned.

For example, the given analysis used on the given code makes it impossible to tell which line of code triggers the return.

`analysis.js`:
[code]

`function.js`:
[code]

`mx jalangi --analysi

[2019-08-12 21:30] mwaldrich opened #41 "Object literal issues"
Currently, it is not possible to accurately track which values flow into object literals. This is because NodeProf invokes `read` callbacks for each value in the object literal, and then invokes the `literal` callback without any information about which order the keys are in.

While it is possible to iterate over the properties of the literal using a `for in` loop, this does not *always* give you

[2019-08-14 00:51] Haiyang-Sun commented on #41
A hack solution using reflection can be found here: https://github.com/Haiyang-Sun/nodeprof.js/tree/obj-literal.
However, it's not tested for more complicated cases, e.g., for object with getter / setter.

BTW, it's also possible to add hasGetterSetter argument to the literal callback by checking the member nodes.

@eleinadani . If the information can be exposed by ObjectLiteralNode in Graal.js, w

[2019-08-14 14:12] eleinadani commented on #41
@Haiyang-Sun I'm not sure what kind of extra info you'd need from graal.js here -- can you prototype a change to core graal.js or provide an example unit test for the core instr?

[2019-08-15 05:16] Haiyang-Sun commented on #41
@eleinadani
Something like this shall work:
[code]

[2019-08-15 05:19] Haiyang-Sun commented on #41
At NodeProf side, I added one extra argument for the ```literal``` hook which is an array of the member fields' names according to the definition order. Each name has a prefix delimiter by '-' showing if it is a getter/setter method.

[2019-08-15 18:50] mwaldrich opened #43 "No iid for builtin callbacks"
The `builtinEnter` and `builtinExit` callbacks don't provide any source location information. I guess this makes sense for `builtinEnter`, since there is no source location for the implementation of a builtin.

However, it would be very helpful to provide source location information on the `builtinExit` callback, as it is currently impossible to tell *where* a builtin in being invoked, from inside

[2019-08-16 03:42] Haiyang-Sun commented on #43
To get such kind of information, normally you need to maintain a invocation or call stack in your own analysis.
We may be able to provide some util functions to give you the current JS call stack, but there is no information for the invocations.

[2019-08-16 03:49] alexjordan commented on #43
I agree with @Haiyang-Sun, your analysis can derive the exact location of the call site (when it is in instrumented code) from the `invokeFunPre` callback.

[2019-08-19 14:10] eleinadani commented on #41
OK, thanks for the patch. If possible, I would like to avoid this change in Graal.js, because the data is already available statically (i.e., from the sources).

An alternative implementation that would not require changes to Graal.js might do the following:
1. get the sources from the object literal (e.g., `getInstrumentedNode().getSources()`)
2. re-parse the sources lazily, and get the literal n

[2019-08-19 20:29] mwaldrich commented on #43
Ok, I think I understand. Both the `invokeFunPre` and `builtin` callbacks are issued when builtins are invoked from instrumented code. And when builtins are called from within other native code, they only issue `builtin` and not `invokeFunPre`. So every `iid` we could want will be given by the `invokeFunPre` callback?

[2019-08-20 13:23] alexjordan commented on #35
This has been fixed with 2c91d9bac5538938f02aaf11d34ad69504f4ba97.

I'm still observing cases where the proper `this` object cannot be resolved by NodeProf (e.g. an empty function or one that does not reference `this`). We're still looking into that, but to me it sounds like a graal-js optimization we would have to undo.

[2019-08-20 13:23] #35 closed

[2019-08-21 13:01] Haiyang-Sun commented on #41
```hasAccessor``` is the flag in the original Jalangi's callback.

I will give it a try, I think using the Graal.js parser should work. I just wonder if it is necessary as such information is already there in the current node, especially when adding such extra information in ```getNodeObject``` as above doesn't bring any overhead to Graal.js and will only get called lazily by NodeProf.

[2019-08-21 13:10] Haiyang-Sun commented on #43
A builtin can also be triggered without a callsite (e.g., some internal creation of Promise).
Basically, you can always locate the builtin by tracking the nearest pre-post event pairs that enclose the builtin (e.g., you can track the start and end of statement or expression, and you would know which expression leads to the execution of a builtin).

[2019-08-21 15:53] mwaldrich commented on #43
Got it, thanks for the clarification!

[2019-08-21 15:53] #43 closed

[2019-08-21 17:51] eleinadani commented on #41
The general approach is: "everything that can be done _without_ changing the core engine, should be done without changing the core engine" :)

let me know how it goes

[2019-08-22 04:26] Haiyang-Sun commented on #41
@eleinadani it works. As long as the source section bindings are fine, this approach looks good to me.

@mwaldrich The preview of the fix is in https://github.com/Haiyang-Sun/nodeprof.js/pull/44 and will land soon.

[2019-08-23 12:56] Haiyang-Sun commented on #41
@mwaldrich the PR has been merged, please try if the fix gives you the profiling information you want.

[2019-08-24 14:06] #41 closed

[2019-08-28 18:11] Haiyang-Sun commented on #37
The [ThrowNode](https://github.com/graalvm/graaljs/blob/master/graal-js/src/com.oracle.truffle.js/src/com/oracle/truffle/js/nodes/control/ThrowNode.java, ) has a branch tag, which I can hook in NodeProf. However there is not yet any specific tag for the [ReturnNode]((https://github.com/graalvm/graaljs/blob/master/graal-js/src/com.oracle.truffle.js/src/com/oracle/truffle/js/nodes/control/ReturnNode

[2019-08-28 18:16] Haiyang-Sun commented on #31
It's in [progress](https://github.com/Haiyang-Sun/nodeprof.js/tree/for-in-for-of). Currently, there is a workaround for ```for-of``` loop. We still need some support from Graal.js part for the ```for-in``` loop.

[2019-08-28 22:40] Haiyang-Sun commented on #37
It is about the comment from @mwaldrich above
[code]
Existing value returned or thrown do not reveal the line of code which returns or throws.

[2019-08-28 22:47] mwaldrich commented on #31
Ok, thanks for the work and the update!

[2019-08-29 15:03] Haiyang-Sun commented on #31
@eleinadani I found a wordaround without changes to Graal.js. We simply keep track of the last expression's execution result that certainly would be the object being iterated.
The patch and test example can be found in #45

@mwaldrich Please check if it works for you.

[2019-09-17 19:09] mwaldrich commented on #31
Thanks for the implementation! We can now easily see the object involved with the loop.

My team was planning on tracking how data flows into the loop variable. However, I'm not sure this is possible with the current callbacks.

Here's an example.

## Example
### Code to instrument
[code]

### Analysis
[code]

### NodeProf output
After running this with NodeProf, the output is:
[code]

## Question

[2019-09-17 20:46] Haiyang-Sun commented on #31
https://github.com/Haiyang-Sun/nodeprof.js/pull/48
The second solution is easy and such a callback is anyway necessary to have.
The first solution is achieved via adding a cfBlockEnter/Exit node whose source section can be used to track the enclosing forIn/forOf node

[2019-09-19 20:23] mwaldrich commented on #31
I am confused about how the new callbacks could be used to instrument this. What callbacks would be generated in a single iteration of a for of loop?

Also, would it be possible for NodeProf to just generate the correct `read` callback when iterating through the loop? This would be my preferred solution, as it wouldn't require extra work in analyses to keep records about for loops.

[2019-09-23 13:52] alexjordan commented on #31
Regarding **for-of** loops, Graal.js does not expose the events we would need to provide a `getField` callback. I'm actually not certain that this could be provided given the implementation will be based on (possibly user-defined) iterators. We might be able to expose the iterator object in each iteration, but would this actually help?

[2019-09-26 01:43] alexjordan commented on #31
I'd like to separate issues for for-in and for-of and merge #48 if it sufficient to support for-in.

@Haiyang-Sun can you please update #48 based on my comments and rebase/squash the commit.

 @mwaldrich is anything missing from #48 to support for-in?

[2019-09-26 16:01] mwaldrich opened #50 "Instrumenting ES6 code"
Is it currently possible to instrument ES6 code using `mx`? I know both NodeProf and GraalJS support ES6, but I'm not sure how to actually achieve this with `mx`.

Here's an example:

### `one.js`
[code]

### `two.js`
[code]

### Execution
[code]

### GraalJS argument
I also found [this page](https://github.com/graalvm/graaljs/blob/master/docs/user/Options.md#engine-options) in the GraalJS docs th

[2019-09-26 22:06] alexjordan commented on #50
`mx jalangi` uses `node` as the entrypoint for execution (note there is a difference in GraalVM between running pure JS `mx js` and Node `mx node`), thus you need to enable experimental support for ES modules in Node.js with an option (also in Node 10.x files must end with `.mjs`): https://nodejs.org/docs/latest-v10.x/api/esm.html

`mx jalangi` currently does not pass through node command line opt

[2019-09-30 08:19] alexjordan commented on #31
I proposed changes to the callbacks in #51. The instrumentation logic itself is unchanged.

[2019-10-01 01:14] alexjordan commented on #17
Fixed in #52

[2019-10-01 01:14] #17 closed

[2019-10-07 21:53] mwaldrich commented on #37
Thanks for the implementation! I'm starting to use this in my analysis now.

I noticed this callback doesn't provide the *function* that the code is returning from. While it is possible for me to maintain a call stack in my analysis, it would be much more efficient to re-use the call stack in Graal.

In addition, this change would make the `_return` callback consistent with the other function-rela

[2019-10-08 13:42] Haiyang-Sun commented on #37
@mwaldrich this is doable, I can add support for this.

[2019-10-09 02:59] alexjordan commented on #37
I would advise against this: executing a `return` statement does not imply that the function indeed exits (`functionExit` does). `_return` is more closely related to control-flow than function, so adding the containing function is misleading IMO.

Consider this example:
[code]
The `_return` callback will trigger like this:
[code]

[2019-10-09 15:06] mwaldrich commented on #37
Yes, it wouldn't make sense to model a callstack using the `_return` callback, because it does not signal the exiting of a function. But since I am trying to avoid modeling the callstack altogether, I wasn't trying to use `_return` for this.

I wanted the function in the `_return` callback *just* so I could associate function invocations with the values they returned.

If I wanted to do this with

[2019-10-18 15:20] mwaldrich commented on #40
Thanks for the implementation! I've started playing around with these callbacks, but they don't seem to be called in the way I would expect.

I actually have two concerns:
1. if I understand the purpose of the currently-implemented callbacks correctly, they are not being called at the right times
2. I'm not sure the currently-implemented callbacks actually give us enough information.

# Example (t

[2019-10-18 20:16] Haiyang-Sun commented on #40
I will look into the issue, thanks for the feedback!

[2019-10-18 21:00] mwaldrich commented on #40
Also, a few more things I noticed:
- there are too many `awaitPre` events being generated. ideally, there would be a one-to-one correspondence between `awaitPre` and `awaitPost` events, but there are exactly twice as many `awaitPre`s compared to `awaitPost`s. this is because an additional `awaitPre` is generated when the `await` is resolved
- I don't believe it's possible to tie together the `awai

[2019-11-06 06:25] HL87-sys opened #64 "Unrecognized argument: '--nodeprof'"
I got `ERROR: Unrecognized argument: '--nodeprof'` when setting up [basic installation](https://github.com/Haiyang-Sun/nodeprof.js/blob/master/Tutorial.md#run-using-graalvm) on both Linux and MacOS. It seems the node binary in the pre-built GraalVM does not support the `--nodeprof` option... Building everything from source works for me.

BTW, the link for downloading "a snapshot of the latest node

[2019-11-06 07:40] Haiyang-Sun commented on #64
Hi @HL87-sys ,

Thanks a lot for trying NodeProf and giving us feedback.
The cause is that the nodeprof.jar you built is based on a later version of Graal.js with the latest fixes and new features that makes it incompatible with the GraalVM release you downloaded.

The solution is to provide a nodeprof.jar snapshot for each corresponding GraalVM release.
We plan to do so for the next GraalVM relea

[2019-11-06 08:18] HL87-sys commented on #64
I see, thanks. When is the next release?

[2019-11-07 11:52] alexjordan commented on #64
Hi @HL87-sys!

The GraalVM release is expected for November. We are going to build a release version of NodeProf then. In the meantime I've fixed the broken links you pointed (thanks!).

[2019-11-07 23:24] #64 closed

[2019-11-20 00:39] mwaldrich commented on #40
I have tried using the new `asyncawait-fix` branch, and it seems to solve the issue of too many `awaitPre` events being generated.

However, the `awaitPost` callback still does not provide enough information to perform some basic analyses, such as timing awaits.

To do this, the `awaitPost` callback would need to provide information so it could be tied to its corresponding `awaitPre` callback. The

[2019-11-22 21:24] mwaldrich opened #65 "builtin callback causes Graal to crash"
The `builtinEnter` and `builtinExit` callbacks sometimes provide values for `dis` that, when used in certain ways, crash Graal.

### Example program

[code]

### Example analysis
[code]

### Analysis output
[code]
(I can provide a full stack trace if that would be helpful.)

I'm fairly certain the `new Promise(...)` is what causes the buggy invocation of `builtinEnter`. The `dis` value provided to

[2019-11-24 20:01] eleinadani commented on #40
In Graal.js we can already instrument all `Promise` creations, so I assume that solution #1 would be easy -- @Haiyang-Sun what do you think?

[2019-11-25 13:18] alexjordan commented on #65
Hi @mwaldrich, you are seeing a Graal.js-internal object that does not play nice with _normal_ JS code. In fact it's a singleton object representing `[[Construct]]`:
[code]

A convenience workaround to avoid this object leaking to user JS, is in #66.

Using `J$.nativeLog(dis)` may give you further clues in these cases and is generally advisable to use inside the builtin callbacks.

[2019-11-26 21:04] alexjordan commented on #65
Fixed by #66

[2019-11-26 21:04] #65 closed

[2019-11-28 14:54] Haiyang-Sun commented on #40
@mwaldrich It makes sense to add the promise object also in the awaitPost statement. I think you can maintain an id for a promise object in your analysis using the builtin ```Map``` because it allows you to use an object as a key.

@eleinadani I think it's not related to the builtins. We can provide the promise object from the inputs. I will patch nodeprof to do it.

[2019-11-29 08:34] Haiyang-Sun commented on #40
@mwaldrich actually adding the promise object in awaitPost might not be necessary. You would anyway need to maintain a "AwaitStack", and since now awaitPre and awaitPost are always in pair.

[2019-12-02 17:39] mwaldrich commented on #40
@Haiyang-Sun Even though awaitPre/awaitPost appear in pairs, I don't think they can be tracked in a stack.

I think this is because async/await programs, just like ES5 programs with native promises, have dynamic control flow that doesn't fit into a simple call-stack model. The program can be waiting on multiple independent awaits, and the processing order depends on the event loop.

Here's an exam

[2019-12-03 18:50] Haiyang-Sun commented on #40
@mwaldrich Umm, I know that providing a promise would be helpful. But it is not the key to the problem here. Assume the following example:
[code]
You will still have the same promise object in the two awaitPost events.
I think the key is to use a queue instead of a stack, assuming that all the awaitPre events will be consumed one by one and maps to the next coming awaitPost.

[2019-12-03 20:53] mwaldrich commented on #40
@Haiyang-Sun I see what you're saying, but I think neither queues nor stacks will work.

Functions like those in the `fs` library may take lots of time to evaluate, and they may not be finished after 1 event loop completion. Therefore, they may be skipped in the next event loop run, while other awaits are processed. This skipping would result in awaits *not* being processed in a queue.

Here's an

[2019-12-03 21:17] Haiyang-Sun commented on #40
Yeah, you are right. So we might actually need a unique id for the await operation.
@eleinadani , if I remember correctly, there is an internal promise object that can be used for this purpose (https://github.com/graalvm/graaljs/blob/master/graal-js/src/com.oracle.truffle.js/src/com/oracle/truffle/js/nodes/control/AwaitNode.java#L169). For example, even for a statement like ```await 1;``` there is

[2019-12-04 16:15] eleinadani commented on #40
Yes, there should be an internal promise and you should be able to instrument that via builtin root nodes instrumentation. Regarding unique ids, I think you can just use `System.identityCode()` for object instances (e.g. promises), while for code locations you could either use the identity of the source section (should be unique) or implement your own mapping. On a separate note (still realted to

[2019-12-09 15:20] Haiyang-Sun commented on #64
Hi @HL87-sys
Please find one pre-release of NodeProf here:
https://github.com/Haiyang-Sun/nodeprof.js/releases/tag/09.12.2019

You should run NodeProf directly in the release using command like below:
[code]

[2019-12-18 22:43] mwaldrich commented on #40
Is there any update on the implementation of the modified `awaitPre` and `awaitPost` callbacks?

[2020-01-13 10:19] Haiyang-Sun commented on #40
@mwaldrich Sorry for the late reply. I had a look, it is not straightforward to update this feature.  I can work on it later this week.

[2020-01-21 18:27] Haiyang-Sun commented on #40
@mwaldrich I have a workaround fix (https://github.com/Haiyang-Sun/nodeprof.js/pull/70).
In this fix, the promise object will be provided both in ```awaitPre``` and in ```awaitPost```.
In ```awaitPost```, the exception parameter is replaced with a ```isRejected``` flag, and the third argument will be the value resolved or rejected of the awaited promise.

Another special case is to await on a valu

[2020-04-02 09:04] mtorp opened #71 "New jalangi.js breaks analysis"
The startupPromises feature in jalangi.js seems to have broken my analysis.

When starting the analysis the following error is printed and the program to be analyzed isn't started.

```Error: async of type PROMISE created with suspiciously small call stack```

It works without any issues, when I replace
[code]
with
[code]
in jalangi.js.

I use the following command to start the NodeProf analysis:

[2020-04-02 10:49] alexjordan commented on #71
Hi Martin,

that's strange and I can't reproduce it. Which GraalVM version is that `node` from? Is it a custom build? There's a `release` file in the parent dir of the `bin` folder with exact versions.

I can also put a workaround into `jalangi.js`, but I'd like to know what the cause is too.

[2020-04-02 10:54] mtorp commented on #71
Here's the output of the release file.

I use the node in `workspace-nodeprof/graal/sdk/latest_graalvm_home` following the install structure you suggest in the README.

[code]

[2020-04-02 11:59] alexjordan commented on #71
I have the same versions, so I'm assuming it's a side effect of something happening during initialization of your analysis. You could try with one of the test analyses instead, I was using `test/npm-analysis.js`.

Anyway, #72 is going to avoid the Promise creation during startup when it's not necessary, which should make it more robust.

[2020-04-02 12:40] mtorp commented on #71
I have found the problem now.
You are right that it was an issue in our analysis initialization. It contains an async init hook that expects the first call of the hook to have the type parameter set to 'TCPWRAP',  which is not the case if the initialization is wrapped in a promise.
Anyway thanks for the help and sorry to bother you with this issue.

[2020-04-03 05:51] #71 closed

[2020-05-06 10:36] 598807302 opened #73 "how to record all write operations of a Node.js program"
As a newer, I wonder how can I record all operation write of a Node.js program.
E.g x = 3

[2020-05-06 12:58] Haiyang-Sun commented on #73
Hi,

You can include the ```write``` callback in your analysis, such as:
[code]

We have a test analysis including the write callback:
https://github.com/Haiyang-Sun/nodeprof.js/blob/master/src/ch.usi.inf.nodeprof/js/analysis/rw/analysis.js

[2020-05-06 13:02] Haiyang-Sun commented on #73
You need to build nodeprof first, and then you can try this analysis with the following cmd in the nodeprof directory:

```mx jalangi --analysis src/ch.usi.inf.nodeprof/js/analysis/rw/analysis.js YOURTEST.js```

Or in the docker image release, you can run your test by replacing the example analysis with your analysis code:
```./bin/node --experimental-options --nodeprof ./nodeprof/nodeprof.js --an

[2020-05-06 13:22] 598807302 commented on #73
Thanks！ I will have a try！

[2020-05-12 10:37] #73 closed

[2021-02-16 03:35] MohGanji opened #85 "detect a try/catch/finally block"
I looked into Jalangi and nodeprof.js documentations, but I couldn't find a way to detect if I'm currently inside a try/catch/finally block during the execution of the instrumented code.

Also, I tried manually logging all current listeners for a simple test case containing a try/catch block, but it seems like non of the hooks inform us about try/catch blocks.

With regard to the definition of try

[2021-04-20 22:51] thepalbi opened #86 "Error when running mocha tests with NodeProf.js vm"
Hi NodeProf.js team!
I'm trying to use the nodeprof.js instrumented vm to replicate the results of https://github.com/cs-au-dk/taser, since I might use it for master thesis. I'm having a hard time running in the last version of nodeprof.js an empty suite of [mocha tests](https://mochajs.org/). I want to be able to run the to collect runtime information while the test suite of some Node project is

[2021-04-22 21:39] Haiyang-Sun commented on #86
Hi @thepalbi , which nodeprof version are you using? What test code are you running? Can you reproduce the bug with our latest binary or docker release ( https://github.com/Haiyang-Sun/nodeprof.js/releases/tag/v20.2.0-dev) here? I may have some time to have a look during the weekends.

[2021-04-23 04:20] thepalbi commented on #86
Hey @Haiyang-Sun , thanks for the response.
So I tried what you mentioned. I downloaded the latest release of NodeProf, and ran the example with an empty mocha (8.3.2) suite:
[code]

Running the test analysis, `--analysis  ./nodeprof/examples/example.js`, everything runs OK. Now, when I try to use that NodeProf distribution with the TASER analysis, I get some failures related to TASER's codebase,

[2021-05-02 21:45] #86 closed

[2021-05-02 21:50] thepalbi opened #90 "`this` is not being bound inside analysis methods"
Hi!

I'm implementing a couple of analysis in NodeProf. However, when trying to replicate the example of branch coverage like the on in [this Jalangi tutorial](https://github.com/Samsung/jalangi2/blob/master/docs/tutorial1.md), I'm getting the following kind of errors:

[code]

The analysis source code is the following:
[code]

For running the analysis, I've used the [latest release](https://githu

[2021-05-30 05:17] Soulike opened #92 "getField() doesn't work when using some library functions or iterator related functions/syntax/statements"
Hi, I'm developing a NodeProf analysis for logging all accesses to object/array fields. But I found `getField()` is not called when analyzing codes using some library functions (like `Array.prototype.map()`)  or iterator related functions/syntax/statements (like `Array.from()`, spread expression, `for...of` statement). For example:

### Analyzed Code

[code]

### My Analysis Code

[code]

What I e

[2021-06-20 13:42] alexjordan commented on #92
Hi @Soulike,

NodeProf callbacks like `getField` work inside JavaScript code only. In your example the element access happens inside a builtin function, which cannot be instrumented and thus not analyzed. Working around this, you may want to try adding analysis models for certain builtin functions to your analysis, or as far as possible replace builtins with JS polyfills that can be analyzed.

[2021-06-20 15:14] Soulike commented on #92
OK. Thank you for your reply. :)

[2021-06-20 15:14] #92 closed

[2021-06-21 11:45] alexjordan commented on #85
I had a quick look at this and think we would need block enter/exit callbacks for this. Looks to me though that currently the graaljs instrumentation, which NodeProf relies on, only tells us when we enter the try-catch construct as a whole.

As a general thought, I'd prefer to support analysis features like this one with syntactic analysis rather then relying on graaljs instrumentation. This would

[2021-06-28 12:10] #90 closed

[2021-10-05 03:43] Soulike opened #95 "declare doesn't work with await and block scope"
I want to use `declare` to get all variable declarations but encounter a problem.

## Analysis Code

[code]

## Analyzed Code

[code]

And the output is like:

[code]

`declare` is never called for `a`. The combination of `let/const` and `await` does not emit `declare`. If I use `var` or remove `await`, `declare` will be called.

[2021-10-05 03:50] Soulike opened #96 "Problem about try-catch"
The problem is similar to #95

[code]

`err` of `catch` does not emit `declare`, and `write` is not called, too, which means I can't get the value of `err`.

[2021-10-25 13:58] Zhxhh opened #97 "`mx test-all` returns error: `no tests matched by substring: ch.usi.inf.nodeprof.test (did you forget to run "mx build"?)`"
I did steps as `Advanced installation` said but when I execute `mx test-all`, it returned error `no tests matched by substring: ch.usi.inf.nodeprof.test (did you forget to run "mx build"?)`
However, I have executed `mx build` and the command's result is
[code]
Why would this happen?
I am using macOS 11.6 and Java's version is  16.0.1.

[2021-10-26 09:49] BarrensZeppelin opened #98 "Missing callback for unary in conditional"
Hello,

I have the following sample Jalangi2 analysis:
[code]

And test program:
[code]

When I run the analysis with Jalangi2 I get the expected output:
[code]

But when I run it with NodeProf.js I get this output:
[code]

It misses a callback for `unary` inside the conditional, and the `result` argument of conditional is `undefined` instead of `true`.

[2021-11-08 16:38] alexjordan commented on #97
Thanks for the report, it looks like unit tests would run only with Java 8. This should be fixed now.

[2021-11-08 16:38] #97 closed

[2021-11-15 05:22] Soulike opened #101 "lhs always gets undefined in write()"
## Analysis

[code]

## Code

[code]

## Expected Output

[code]

## Actual Output

[code]

How can I get the value stored in the variable before the write operation?

[2021-11-15 09:35] alexjordan commented on #101
Hi @Soulike,

as you can see in the [code](https://github.com/Haiyang-Sun/nodeprof.js/blob/master/src/ch.usi.inf.nodeprof/src/ch/usi/inf/nodeprof/jalangi/factory/WriteFactory.java#L53) reading the old value _before_ the write is not implemented.

[2021-11-15 11:36] #101 closed

[2022-09-01 07:09] peey opened #106 "CLI Arguments to node after nodeprof argument aren't handled properly"
E.g. if you try

[code]

You'll get the output
[code]

You'll get a similar error if you try a more legitimate case of:

[code]

As specified in the tutorial, I think the current design assumes anything following `--analysis <file>` to be a single file:

[code]

I think this unnecessarily introduces an ordering of options, not to mention making `-e 'code'` impossible as an option which will be ver

[2022-10-24 09:24] GianlucaDeStefano opened #107 "Online instrumentation in the browser"
Hi, I would like to instrument online webpages and run analysis directly in the browser without having to pre-download the website's code locally. I was implementing this analysis using Jalangi, but since it does not support EC6 features I am trying to find an alternative tool.

Do you think that nodeprof  is suited for this purpose? Does it support the instrumentation of frontend JS code (Js inli